<!doctype html>
<html>

<head>


  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Timea Balogh</title>

  <link rel="stylesheet" href="stylesheets/styles.css">
  <link rel="stylesheet" href="stylesheets/pygment_trac.css">
  <link rel="stylesheet" href="stylesheets/shiro.css">
  <link rel="stylesheet" href="stylesheets/kube.css">
  <script src="https://kit.fontawesome.com/9745af1226.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>Timea Balogh</h1>
      <img src="img/NAME.jpg">


      <p></p>
      <p class="view">PhD Candidate<br><a href="https://ps.ucdavis.edu/">Department of Political Science</a><br>
        University of California, Davis<br><a href="mailto:hhilbig@ucdavis.edu">hhilbig@ucdavis.edu</a></p>
      <p></p>

      <p>
        <a href="cv/"><b>Curriculum Vitae</b></a><br>
        <a href="https://twitter.com/timeabal"><b>Twitter</b></a><br>
      </p>

    </header>




    <section>
      <h3>
        <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true"><span
            class="octicon octicon-link"></span></a>
      </h3>


      <p>I am a blah blah balh.</p>

      <p>Previously, I was a blah blah <a
          href="https://csdp.princeton.edu/">Princeton University</a>. I blah blah blah at <a href="https://gov.harvard.edu/">Harvard University</a> in
        2022. </p>


      <!--I am a Postdoctoral Fellow at the Center for the Study of Democratic Politics at <a href="https://csdp.princeton.edu/">Princeton University</a>. I graduaded with a PhD from the Department of Government at <a href="https://gov.harvard.edu/">Harvard University</a> in 2022. My research lies at the intersection of Comparative Politics and Political Economy. My research explores the political implications of central challenges facing established democracies, such as shifting media landscapes, immigration, inequality, fiscal adversity, and housing. I employ causal inference techniques for observational data, including regression discontinuity designs, difference-in-differences designs, and matching designs.
  <!--, focus on media in politics. In particular, I analyze how the nationalization of media transforms local policymaking across three central challenges facing democracies: economic crises, immigration, and climate change.

    

    <p>

  In my <a href="papers/HannoHilbig_JMP.pdf">job market paper</a>, I examine how local media affects fiscal responses to the Great Recession in Germany. I extend prior research on attitudinal effects of media to show that local media can heighten voters' anxiety about the economic crisis. Ultimately, heightened economic anxiety then leads voters to prefer policy solutions that aid the struggling local economy, inducing governments to enact countercyclical responses in the form of tax cuts. 

  <!--In particular, I analyze how the nationalization of media transforms local policymaking across three central challenges facing democracies: economic crises, immigration, and climate change. In my dissertation, I explore how local governments respond to adverse economic shocks. In my <b> <a href="papers/HannoHilbig_JMP.pdf">job market paper</a></b>, I study how the Great Recession affected local tax policy in Germany. In additional published and ongoing research, I examine three related research areas: (i) the relationship between economic inequality and political behavior, (ii) economic disparities between immigrants and natives (iii) how growing regional disparities in local news presence affect polarization and political knowledge.-->
      <p>


        <!--I often use novel data sets, ranging from self-collected survey data to archival data or large-scale administrative data sets. My empirical work pays close attention to causal inference and employs identification strategies such as regression discontinuity designs, field experiments, and matching designs. My publications and working papers are listed below and on my <a href="https://scholar.google.com/citations?user=JzQv9FMAAAAJ">Google Scholar</a> page.
  <p>-->

        <!--Previously, I was affiliated with the <a href="https://www.wzb.eu/en/research/political-economy-of-development/institutions-and-political-inequality">Institutions and Political Inequality Group</a> at  <a href="https://wzb.eu/en">WZB Berlin</a>. 
  At Harvard, I was research fellow in the <a href="https://inequality.hks.harvard.edu/">Stone Program in Wealth Distribution, Inequality and Social Policy</a> at the  Harvard Kennedy School. </p> -->


      <div align="left">
        <h3>Publications</h3>
      </div>
      <p>
      <ol reversed>

        <li>

          <b><a href="https://osf.io/cf8ut">Electoral Constraints on Affordable Housing</a></b> (with Andreas
          Wiedemann). Conditionally Accepted, <i> American Journal of Political Science.</i>

          <i><a href="#" onclick="toggle_visibility('housing');">[Abstract]</a></i>
          <div id="housing" style="display:none;"><br>Housing shortages and rising rents have increased demands for
            affordable
            housing. In this paper, we propose that
            electoral constraints can undermine local politicians' incentives to build public housing. This occurs
            because
            voters'
            diverging preferences for spending conflict with municipalities' long-term goals to provide affordable
            housing.
            Empirically, we draw on the full-count census of all housing built in Germany, data on 19,671 local
            elections
            between
            1989 and 2011, and an original survey. Using a difference-in-differences design, we demonstrate that local
            incumbents
            experience moderate electoral losses after constructing new public housing. We then show that these losses
            are not
            driven by homeowner opposition or native-foreigner competition. Instead, we develop a novel argument that
            voters
            punish
            local incumbents for new municipal housing when they prefer spending on other prioritized policy domains.
            Our
            results
            have implications for the origins of the affordability crisis and suggest potential strategies to mitigate
            electoral
            constraints.
          </div>
          &nbsp;
        </li>


        <li>
          <b><a href="https://osf.io/kwjem/">Does Rent Control Turn Tenants Into NIMBYs?</a></b>.
          (with Anselm Hager and Robert Vief). Conditionally Accepted, <i> Journal of Politics.</i>
          <i><a href="#" onclick="toggle_visibility('nimby');">[Abstract]</a></i>
          <div id="nimby" style="display:none;"><br>Affordable housing is a key challenge of the 21st century. A pivotal
            driver of growing housing prices is residents' opposition to construction, a phenomenon known as NIMBYism
            ("Not In My Backyard"). To make housing more affordable, city governments are increasingly implementing rent
            control policies. Does rent control---by making tenants more likely to stay in their apartments---spark
            NIMBYism and thus exacerbate the housing crisis? We study the case of Berlin, which recently passed a
            sweeping rent control law. Leveraging two discontinuities in the policy, we show that rent control made
            tenants less NIMBY. Specifically, tenants in rent controlled apartments became more likely to approve of
            local-level construction and immigration, compared to tenants in non-rent-controlled apartments. We argue
            that the decline in NIMBYism is likely due to an economic channel. Tenants in urban centers associate
            construction and immigration with displacement pressures and gentrification. Rent control alleviates these
            concerns by providing financial and residential security.
          </div>
          &nbsp;
        </li>


























    </section>
    <footer>
      <p><small> This website is based on the Github <a href="https://github.com/orderedlist/minimal">minimal theme</a>
          and is inspired by the websites of Matt Blackwell, Sarah Bouchat, Andrew B. Hall and Shiro Kuriwaki</a>.
          </a></small></p>
    </footer>
  </div>
  <script src="javascripts/scale.fix.js"></script>

  </div>
  </footer>
  </div>




</body>

</html>
